.swiper {
  width: 1350px;
  height: 350px;
}

.swiper2 {
  width: 285 !important;
  height: 550px !important;
}

.custom-btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  /* padding: 0.25rem; */
  font-size: 1rem;
  /* line-height: 1.25; */
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

.custom-btn-success {
  color: #fff;
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
}

.custom-btn-success:hover {
  color: #fff;
  background-color: rgb(170, 170, 170);
  border-color: rgb(0, 0, 0);
}

.mnb_line {
    position: absolute;
    left: 40px;
    bottom: -1px;
    height: 5px;
    background-color: #434343;
    width: 20px;
}

.custom_div {
	justify-content: space-between;
}

.custom_border a {
	border: 1px solid #e6e6e6;
	border-radius: initial;
	padding: 13px 11px;
}

.notice_detail_title {
	font-size: 24px;
	font-weight: bold;
	background-color: #f9f9f9;
	padding: 37px 27px 30px;
}

.notice_detail_time {
	height: 55px;
	padding-top: 21px;
	padding-bottom: 21px;
	border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.notice_detail_time p {
	margin-right: 25px;
}

.notice_detail_content {
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 27px;
}

.notice_detail_pageMove {
	padding-bottom: 180px;
}

.notice_detail_pageMove li:first-child {
	border-top: 1px solid #e3e3e3;
}
.notice_detail_pageMove li {
	clear: both;
	height: 45px;
	line-height: 46px;
	border-bottom: 1px solid #e3e3e3;
}

.notice_detail_pageMove a {
	color: #666;
}

.clock {
	margin-right: 4px;
	vertical-align: middle;
	margin-top: 5px;
}

.clock2 {
	margin-top: 16px;
	margin-right: 4px;
}

.clock3 {
	margin-top: -4px;
	margin-right: 8px;
}

.time_style {
	font-family: "Tahoma";
	color: #aaa;
}

.page_move_btn {
	clear: both;
	float: left;
    margin-left: 27px;
    margin-right: 24px;
    font-size: 15px;
    line-height: 1;
    margin-top: 15px;
}

.side_board {
    width: 100%;
    float: left;
    margin-top: 60px;
    border-top: 2px solid #343536;
}

.hov-ul:hover {
	text-decoration: underline;
}