* {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
	text-decoration: none;
	font-family: "NanumBarunGothic" , "Malgun Gothic" , sans-serif;
	letter-spacing: -0.03em;
}

/* [ swiper ] */

.swiper {
	width: 1350px;
	height: 350px;
}

.swiper2 {
	width: 285px !important;
	height: auto !important;
	border: 1px solid black;
	padding-bottom: 15px !important;
}

.swiper2 p {
	text-align: center;
}

.swiper-button-prev2, .swiper-button-next2 {
	background-color: #fff;
	opacity: 0.5;
	padding: 15px 5px;
	border-radius: 20px;
	color: black !important;
	top: 87% !important;
}

.swiper-button-prev2:after,.swiper-button-next2:after {
	font-size: 1.1rem !important;
	font-weight: 600 !important;
}

.custom-btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

.custom-btn-success {
  color: #fff;
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
}

.custom-btn-success:hover {
  color: #fff;
  background-color: rgb(170, 170, 170);
  border-color: rgb(0, 0, 0);
}


/* [header 섹션 css] */
img.top-menu {
	width: 70px;;
	height: 30px;
}


/* [event 섹션 css] */
.eventSection {
	min-width: 1500px;
}


/* [notice 섹션 css] */
.noticeSection {
	margin-bottom: 30px;
	min-width: 1500px;
}

.notice {
	margin-left: 12%;
	margin-bottom: 30px;
}

.notice div {
	margin-right: 80px;
	width: 25%;
	min-width: 200px;
}

div.notice1 a.title {
	font-size: 25px;
	color: black;
}

div.notice1 p.content {
	font-size: 15px;
	border-top: dotted 2px;
	margin-top: 10px;
	padding-top: 10px;
}

div.notice p.type {
	font-size: 15px;
	color: white;
	background-color: rgb(93, 122, 203);
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 30px;
	display: inline-block;
}

div.notice2 a.title {
	font-size: 25px;
	color: black;
}

div.notice2 p.content {
	font-size: 15px;
	border-top: dotted 2px;
	margin-top: 10px;
	padding-top: 10px;
}

div.notice3 span.type {
	font-size: 15px;
	color: white;
	background-color: rgb(93, 122, 203);
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 30px;
	display: inline-block;
}

div.notice3 a.title {
	color: black;
	font-size: 20px;
}

.notice3 ul li {
	border-bottom: solid 1px rgb(144, 144, 144);
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.notice3 ul li:last-child {
    border-bottom: none;
}


/** 가이드 섹션 **/
.guide {
	min-width: 1500px;
}

.guideSection {
	display: flex;
	justify-content: center;
}

div.guide1 {
	margin-right: 50px;
	width: 300px;
	font-size: 28px;
	color: #333333;
}

div.guide1 p {
	margin-bottom: 15px;
}

div.guide2 {
	margin-right: 50px;
	width: 300px;
}

div.guide3 {
	margin-right: 50px;
	width: 300px;
}

div.guide4 {
	width: 300px;
}


/** 미디어 섹션 **/
.media {
	padding-left: 50px;
	min-width: 1500px;
	display: flex;
	justify-content: center;
}

.mediaSection a {
	color: black;
}

.mediaSection img.icon {
	width: 35px;
	height: 35px;
}

.mediaSection h2, .mediaSection img{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.mediaSection div.media-video {
	height: 295px;
	margin-bottom: 30px;
}

.mediaSection div.screenshot {
	display: inline-block;
	margin-right: 15px;
}

.mediaSection div.media-screenshot {
	height: 295px;
}


/* [footer 섹션 css] */
.footer_info{
	width: 100%;
}
.footer_info p{
	width: 100%;
}

.footer_info ul li:first-child{
	padding-left: 0px;
	background: none;
}

.footer_info ul li{
	float: left;
	padding: 0 13px;
	font-size: 12px;
	background: url('../img/icons/footer_line.png') no-repeat;
}

.footer_info ul li a{
	color: #b2b2b2;
}


/* [ register ]*/

.register__input {
  margin-bottom: 6px;
}

.register__input p {
  color: #111111;
  margin-bottom: 12px;
}

.register__input input {
  height: 40px;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #b7b7b7;
  padding-left: 20px;
  margin-bottom: 20px;
}

.h-20-im input {
	height: 20px !important;
}

/* [ 게시판 CSS ]*/
.m-w-1000 {
	min-width: 1000px;
	width: 1000px;
}

.m-w-930 {
	min-width: 930px;
	width: 930px;
}

.m-w-800 {
	min-width: 800px;
	width: 800px;
}

.m-w-620 {
	min-width: 620px;
	width: 620px;
}

.m-w-310 {
	min-width: 310px;
	width: 310px;
}

.m-w-285 {
	min-width: 285px;
	width: 285px;
}

.m-w-130 {
	min-width: 130px;
	width: 130px;
}

.m-auto {
	margin: auto;
}


.mnb_line {
    position: absolute;
    left: 40px;
    bottom: -1px;
    height: 5px;
    background-color: #434343;
    width: 20px;
}

.custom_div {
	justify-content: space-between;
}

.custom_border a {
	border: 1px solid #e6e6e6;
	border-radius: initial;
	padding: 13px 11px;
}

.notice_detail_title {
	font-size: 24px;
	font-weight: bold;
	background-color: #f9f9f9;
	padding: 37px 27px 30px;
}

.notice_detail_time {
	height: 55px;
	padding-top: 21px;
	padding-bottom: 21px;
	border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.notice_detail_time p {
	margin-right: 25px;
}

.notice_detail_content {
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 27px;
}

.notice_detail_pageMove {
	padding-bottom: 180px;
}

.notice_detail_pageMove li:first-child {
	border-top: 1px solid #e3e3e3;
}
.notice_detail_pageMove li {
	clear: both;
	height: 45px;
	line-height: 46px;
	border-bottom: 1px solid #e3e3e3;
}

.notice_detail_pageMove a {
	color: #666;
}

.clock {
	margin-right: 4px;
	vertical-align: middle;
	margin-top: 5px;
}

.clock2 {
	margin-top: 16px;
	margin-right: 4px;
}

.clock3 {
	margin-top: -4px;
	margin-right: 8px;
}

.time_style {
	font-family: "Tahoma";
	color: #aaa;
}

.page_move_btn {
	clear: both;
	float: left;
    margin-left: 27px;
    margin-right: 24px;
    font-size: 15px;
    line-height: 1;
    margin-top: 15px;
}

.side_board {
    width: 100%;
    float: left;
    margin-top: 60px;
    border-top: 2px solid #343536;
}

.hov-ul:hover {
	text-decoration: underline;
}

.event-div {
	border: 1px solid #e6e6e6;
	width: 291px;
	display: flex;
	justify-content: center;
}

.event-div2 {
	border-top: 1px solid #e6e6e6;
}


/* [ 댓글 관련 CSS ] */

.reply_wrap {
	float: left;
	width: 100%;
}

.reply_title {
	float: left;
	width: 100%;
	height: 44px;
	line-height: 45px;
	border-top: 1px solid #e3e3e3;
	background-color: #f9f9f9;
}

.reply_title h2 {
	float: left;
	margin-left: 27px;
	line-height: 45px;
	font-size: 16px;
	color: #333333;
}

.reply_title h2 span {
	font-size: 16px;
	color: #f68400;
	margin-left: 5px;
}

.reply_ul li {
	float: left;
	width: 876px;
	padding: 30px 27px 25px 27px;
	border-bottom: 1px solid #e3e3e3;
}

.reply_ul li:first-child {
	border-top: 1px solid #e3e3e3;
}

.reply {
	float: left;
	width: 100%;
	height: 100%;
}

.reply_id {
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	line-height: 1;
}

.reply_time {
	margin-left: 5px;
	font-size: 12px;
	color: #888;
}

.reply_text {
	float: left;
	width: 100%;
	font-size: 13px;
	color: #666666;
	line-height: 20px;
	margin-top: 11px;
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
}

.reply_page {
    float: left;
    width: 100%;
    height: 45px;
    text-align: center;
    padding: 16px 0 !important;
    border-bottom: 1px solid #e3e3e3;
}

.reply_page a {
	line-height: 1;
	height: 12px;
	width: auto;
	min-width: 12px;
	display: inline-block;
	color: #888;
	margin: 0 11px;
	font-size: 13px;
	vertical-align: top;
	font-family: "Tahoma";
}

.reply_page a:hover, .reply_page a.active {
	font-weight: bold;
	color: #4a4a4a;
}

.comment_form_wrap {
	float: left;
	margin-top: 40px;
	width: 100%;
}

.comment_form {
	height: 205px;
	background-color: #e8eaee;
	border: 1px solid #dcdde1;
}

.comment {
	float: left;
	padding: 20px;
	width: 880px;
	height: 120px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #fff;
	resize: none;
	overflow: hidden;
	overflow-y: auto;
}

.comment_btn {
	position: relative;
	float: left;
	margin-top: 11px;
	width: 100%;
	height: 42px;
	line-height: 42px;
}

.word_count {
	margin-right: 10px;
}

.btn01_g {
	min-width: 53px;
	font-size: 16px;
	color: #fff !important;
	text-align: center;
	background-color: #747a86;
	border-radius: 2px;
	padding: 9px 14px 9px 14px;
	border: 1px solid #747a86;
	display: inline-block;
	line-height: 1;
}